<h1>Edit user</h1>

<%= form_with(model: @user, local: true) do |form| %>
    
    <p>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
    </p>
    
    <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
    </p>
    
    <p>
    <%= form.submit %>
    </p>
    
<% end %>
    